<h2>{{title}}</h2>
<i>{{location}}</i>
<br>
<p>{{startTime}}
  <a [routerLink]="['/day', startDate.getFullYear(), startDate.getMonth(), startDate.getDate()]">
    <span class="glyphicon glyphicon-new-window"></span>
  </a> - {{endTime}}
  <a [routerLink]="['/day', endDate.getFullYear(), endDate.getMonth(), endDate.getDate()]">
    <span class="glyphicon glyphicon-new-window"></span>
  </a>
</p>
<br>
<br> Invitees:
<ul>
  <li *ngFor="let user of users">
    <app-user [_user]="user"></app-user>
  </li>
</ul>