<form [formGroup]="task" (ngSubmit)="onSubmit()">
  <h3>Add a Task</h3>
  <div class="noOverflow">
    <label for="title">Title: </label>
    <input formControlName="title">
  </div>
  <div *ngIf="task.get('title').invalid && (task.get('title').dirty || task.get('title').touched)" class="alert alert-danger">
    <div *ngIf="task.get('title').errors.required">
      Title is required.
    </div>
  </div>
  <div>
    <label for="startTime">Starting Time: </label>
    <input type="datetime-local" formControlName="startTime">
  </div>
  <div>
    <label for="endTime">Ending Time: </label>
    <input type="datetime-local" formControlName="endTime">
  </div>
  <div>
    <label for="location">Location: </label>
    <input formControlName="location">
  </div>
  <button type="submit">Add Task</button>
</form>