<!doctype html>
<html ng-app="app" ng-cloak>
  <head>
    <title>Van Daele Fotografie</title>
    <link rel=stylesheet href=/stylesheets/stylesheet.css>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body>
    <nav ng-controller="NavCtrl" id="nav">
      <ul>
        <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
    <div id="navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/albums">Albums</a></li>
        <li><a href="#/links">Links</a></li>
      </ul>
    </div>
    <div id="content">
      <ui-view></ui-view>
    </div>
    <script type="text/ng-template" id="/home.html">
      <div id="content">
        <div class="left40 mw500">
          <img class="photo" src="resources/photos/me.jpg"/>
        </div>
        <div class="right50">
          <span>
            Ik neem graag foto's in mijn vrije tijd.<br /><br />
            Laat gerust een bericht achter bij een foto,<br />
            of contacteer mij via contact.<br />
          </span>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/albums.html">
      <div id="albums">
        <ul>
          <li class="left20" ng-repeat="album in albums | orderBy: '-name':true">
            <span ng-click="incrementUpvotes(album)"><img class="square20" src="../resources/photos/thumbsUp.png"/>
              {{album.upvotes}}
            </span>
            <a href="#/photos/{{album._id}}"><span>{{album.name}}</span></a>
            <br />
            <img src="../resources/photos/albums/{{album.name}}/{{album.thumb}}" />
          </li>
        </ul>
      </div>
      <form class="left100" ng-submit="addAlbum()" ng-show="isAdmin()">
        <h3>Add a new album</h3>
        <input type="text" ng-model="title" placeholder="naam" />
        <input type="text" ng-model="thumb" placeholder="thumbnail: voorbeeld.jpg" />
        <button type="submit">Add</button>
      </form>
    </script>
    <script type="text/ng-template" id="/photos.html">
      <div class="left100 mbottom50">
        <a href="#/albums" style="font-size: 25px;">Go Back</a>
      </div>
      <div id="albums">
        <ul>
          <li class="left20" ng-repeat="photo in album.photos | orderBy: '-name': true">
            <span ng-click="incrementUpvotesPhoto(photo)"><img class="square20" src="../resources/photos/thumbsUp.png"/>
              {{photo.upvotes}}
            </span>
            <a href="#/picture/{{album._id}}/{{photo._id}}"><span>{{photo.name}}</span></a>
            <br/>
            <img src="../resources/photos/albums/{{album.name}}/{{photo.name}}.{{photo.extensie}}" />
          </li>
        </ul>
        <br /><br />
        <ul class="left100 mbottom50 mtop50">
          <li ng-repeat="comment in album.comments | orderBy: '-upvotes'">
            <span ng-click="incrementUpvotesComment(comment)"><img src="../resources/photos/thumbsUp.png"/>
              {{comment.upvotes}}</span>
            <span style="font-weight: bold; padding-left: 20px;">{{comment.author}}:</span> {{comment.body}}
            <br/>
          </li>
        </ul>
        <br /><br />
        <form class="left100 mbottom50" ng-submit="addPhoto()" ng-show="isAdmin()">
          <h3>Add a new photo</h3>
          <input type="text" ng-model="name" placeholder="name photo" />
          <input type="text" ng-model="extensie" placeholder="extensie (png/jpg)" />
          <button type="submit">Add</button>
        </form>
        <br /><br />
        <form class="left100 mbottom50" ng-submit="addComment()" ng-show="isLoggedIn()">
          <h3>Add a new comment</h3>
          <input type="text" placeholder="comment" ng-model="body" />
          <button type="submit">Post</button>
        </form>
        <div class="left100 mbottom50" ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can leave a comment</h3>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/picture.html">
      <div class="left100 mbottom50">
        <a href="#/photos/{{album._id}}" style="font-size: 25px">Go Back</a>
      </div>
      <div class="left40 mw500">
        <img class="photo" src="../resources/photos/albums/{{album.name}}/{{photo.name}}.{{photo.extensie}}" />
      </div>
      <div class="right50">
        <ul>
          <li class="cleanlist" ng-repeat="comment in photo.comments | orderBy: '-upvotes'">
            <span ng-click="incrementUpvotes(comment)"><img style="width: 20px;" src="../resources/photos/thumbsUp.png"/>
              {{comment.upvotes}}
            </span>
            <span style="font-weight: bold; padding-left: 20px;">{{comment.author}}:</span> {{comment.body}}
          </li>
        </ul>
        <br /><br />
        <form ng-submit="addComment()" ng-show="isLoggedIn()">
          <h3>Add a new comment</h3>
          <input type="text" placeholder="comment" ng-model="body" />
          <button type="submit">Post</button>
        </form>
        <div ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can leave a comment</h3>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/links.html">
      <div id="content" class="right80">
        <h3 class="mbottom50"><a target="_blank" href="https://www.facebook.com/marita.vandaele?fref=ts">Facebook</a></h3>
        <h3 class="mbottom50"><a target="_blank" href="http://imago-hamme.be/">Fotoclub</a></h3>
        <h3 class="mbottom50"><a target="_blank" href="https://www.flickr.com/photos/144254529@N03">Flickr</a></h3>
        <h3 class="mbottom50"><a target="_blank" href="http://google.be/">Instagram</a></h3>
        <h3 class="mbottom50"><a target="_blank" href="http://google.be/">Pinterest</a></h3>
      </div>
    </script>
    <script type="text/ng-template" id="/register.html">
      <div ng-show="error">
        <span>{{error.message}}</span>
      </div>
      <form ng-submit="register()">
        <h3>Register</h3>
        <input type="text" placeholder="username" ng-model="user.username" />
        <input type="password" placeholder="password" ng-model="user.password" />
        <button type="submit">Register</button>
      </form>
    </script>
    <script type="text/ng-template" id="/login.html">
      <div ng-show="error">
        <span>{{error.message}}</span>
      </div>
      <form ng-submit="logIn()">
        <h3>Log In</h3>
        <input type="text" placeholder="username" ng-model="user.username" />
        <input type="password" placeholder="password" ng-model="user.password" />
        <button type="submit">Log In</button>
      </form>
    </script>

  </body>
</html>
