<!doctype html>
<html ng-app="app" ng-cloak>
  <head>
    <title>Van Daele Fotografie</title>
    <link rel=stylesheet href=/stylesheets/stylesheet.css>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body>
    <div ng-controller="MenuCtrl">
      <div menu-list="menuItems">

      </div>
    </div>
    <div id="content">
      <div class="left40 mw500">
        <img class="photo" src="resources/photos/me.jpg"/>
      </div>
      <div class="right50">
        <span>
          Ik neem graag foto's in mijn vrije tijd.<br /><br />
          Laat gerust een bericht achter bij een foto,<br />
          of contacteer mij via contact.<br />
        </span>
      </div>
    </div>
  </body>
</html>
