<h1>{{username}}</h1>
<br>
<div *ngIf="tasks.length > 0; else noTasks">
  <ul>
    <li *ngFor="let task of tasks">
      <accordion [showArrows]="true" [closeOthers]="false" [expandAll]="false">
        <accordion-group>
          <accordion-heading>
            {{task.title}} ({{getTime(task.startTime, task.endTime)}})
            <a (click)="removeTask(task)">
              <span *ngIf="isAuthor(task)" class="glyphicon glyphicon-remove"></span>
            </a>&emsp;
          </accordion-heading>
          <app-task [_task]="task"></app-task>
        </accordion-group>
      </accordion>

    </li>
  </ul>
</div>

<ng-template #noTasks>
  <h4>You have no tasks yet</h4>
</ng-template>

<br>

<app-add-task (newTask)="newTaskAdded($event)"></app-add-task>