<accordion [showArrows]="true" [closeOthers]="false" [expandAll]="false">

  
  <accordion-group>

    <accordion-heading>
      {{title}} ({{author.firstname}} {{author.name}} <a [routerLink]="['/user', author.id]"><span class="glyphicon glyphicon-new-window"></span></a>)
    </accordion-heading>
    
    <p id="commentBody">{{body}}</p>
    <br><br>

    Comments: 
    <ul>
      <li *ngFor="let comment of comments">
        <app-comment [_comment] = "comment"></app-comment>
      </li>
    </ul>
    
    <app-add-comment (newComment)="newCommentAdded($event)"></app-add-comment>
  </accordion-group>
</accordion>