<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to your calendar!
  </h1>
</div>
<div style="width: 700px;float: left">
  <ul>
    <li *ngFor="let day of dates" style="list-style-type: none">

      <h1>{{day}}</h1>
      <ul>
        <app-task *ngFor="let task of tasksForDate(day)" [_task]="task">

        </app-task>
      </ul>

    </li>
  </ul>
</div>

<div style="width: 200px; float:left">
  <app-add-task (newTask)="newTaskAdded($event)"></app-add-task>
</div>