<a class="item" (click)="register()">Register</a>
<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <div>
    <label for="username">username: </label>
    <input type="text" id="username" formControlName="username">
  </div>
  <div *ngIf="user.get('username').invalid && (user.get('username').dirty || user.get('username').touched)" class="alert alert-danger">
    <div *ngIf="user.get('username').errors.required">
      Name is required.
    </div>
  </div>
  <div>
    <label for="password">password: </label>
    <input type="password" id="password" formControlName="password">
  </div>
  <div *ngIf="user.get('password').invalid && (user.get('password').dirty || user.get('password').touched)" class="alert alert-danger">
    <div *ngIf="user.get('password').errors.required">
      Password is required.
    </div>
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <button type="submit">Login</button>
</form>