<form>
  <h3>Add a Task</h3>
  <div>
    <label for="title">Title: </label>
    <input name="title" #newtasktitle>
  </div>
  <div>
    <label for="startTime">Starting Time: </label>
    <input name="startTime" type="date" #newtaskstarttime>
  </div>
  <div>
      <label for="endTime">Ending Time: </label>
      <input name="endTime" type="date" #newtaskendtime>
    </div>
  <div>
    <label for="location">Location: </label>
    <input name="location" #newtasklocation>
  </div>
  <button (click)="addTask(newtasktitle, newtaskstarttime, newtaskendtime, newtasklocation)">Add Task</button>
</form>