<form [formGroup]="comment" (ngSubmit)="onSubmit()">
  <h3>Add a Comment</h3>
  <div class="noOverflow">
    <label for="title">Title: </label>
    <input formControlName="title">
  </div>
  <div *ngIf="comment.get('title').invalid && (comment.get('title').dirty || comment.get('title').touched)" class="alert alert-danger">
    <div *ngIf="comment.get('title').errors.required">
      Title is required.
    </div>
  </div>
  <div>
    <label for="body">Body: </label>
    <input formControlName="body">
  </div>
  <div *ngIf="comment.get('body').invalid && (comment.get('body').dirty || comment.get('body').touched)" class="alert alert-danger">
    <div *ngIf="comment.get('body').errors.required">
      Body is required.
    </div>
  </div>
  <button type="submit">Add Comment</button>
</form>