<h2>{{title}}</h2>
<i>{{location}}</i>
<br>
<p>{{startTime}}
  <a [routerLink]="['/day', startDate.getFullYear(), startDate.getMonth(), startDate.getDate()]">
    <span class="glyphicon glyphicon-new-window"></span>
  </a> - {{endTime}}
  <a [routerLink]="['/day', endDate.getFullYear(), endDate.getMonth(), endDate.getDate()]">
    <span class="glyphicon glyphicon-new-window"></span>
  </a>
</p>
<br>
<br> Invitees:
<ul>
  <li *ngFor="let user of users">
    <app-user [_user]="user"></app-user>
  </li>
</ul>
<br>
<br> Comments:
<li *ngFor="let comment of comments">
  <accordion [showArrows]="true" [closeOthers]="false" [expandAll]="false">
    <accordion-group>
      <accordion-heading>
        {{comment.title}} ({{comment.author}} <a [routerLink]="['/user', 1]"><span class="glyphicon glyphicon-new-window"></span></a>)
        <a (click)="removeComment(comment)">
          <span *ngIf="isAuthor(comment)" class="glyphicon glyphicon-remove"></span>
        </a>&emsp;
      </accordion-heading>
      <app-comment [_comment]="comment"></app-comment>
    </accordion-group>
  </accordion>
</li>
<app-add-comment (newComment)="newCommentAdded($event)"></app-add-comment>